@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #f5f5f5;
}

header {
  width: 100%;
  background-color: #fff;
  padding: 20px 0px;
  box-shadow: #0000003d 0px 3px 8px;
}

.head-container {
  display: flex;
  padding-left: 10px;
}

.inner-flex {
  display: flex;
  position: absolute;
  right: 10px;

  justify-content: end;
  column-gap: 8px;
  align-items: center;
  font-size: 0.7rem;
  color: #565656;
}

header div {
  width: 68%;
  margin: 0px;
  /* margin: auto; */
}

.heading-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  padding-top: 80px;
  width: 95%;
  /* margin: auto; */
  position: relative;
}

.video {
  width: 50.2%;
  padding-left: 10px;
}

.heading-holder {
  padding: 20px 0px 10px;
  font-size: 1.5rem;
  font-weight: 500;
}

.description-holder {
  color: #565656;
  font-size: 0.8rem;
  line-height: 22px;
  padding-bottom: 20px;
}

.comment-heading-holder {
  padding-top: 20px;
  font-size: 18px;
  font-weight: 800;
}

.comment-section h5 {
  margin: 5px 0px;
}

.comment-description {
  font-size: 0.8rem;
  color: #565656;
}

.posters {
  width: 23.2%;
  position: absolute;
  right: 0px;
}

.poster-heading-holder p {
  font-weight: 600;
  font-size: 1.2rem;
}
.comment-holder {
  display: flex;
  column-gap: 15px;
  margin: 20px 0px;
  /* flex-wrap: wrap; */
}

img {
  max-width: 100%;
}

.poster-img {
  width: 100%;
  margin-top: 10px;
}

video {
  max-width: 100%;
}

.video-holder {
  width: 100%;
}

.comment-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

footer {
  width: 100%;
  background-color: #222222;
  color: #fff;
  padding: 22px;
  margin: 20px 0px;
  font-size: 0.8rem;
  font-weight: 600;
}

footer div {
  width: 69.5%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.hr-mobile {
  display: none;
}
@media only screen and (max-width: 767px) {
  .head-container {
    width: 95%;
    font-size: 1.3rem;
  }

  .main-container {
    flex-direction: column;
    column-gap: 0px;
    width: 95%;
  }

  .inner-flex img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .inner-flex p {
    display: none;
  }

  .video {
    width: 100%;
    margin-top: 15px;
  }

  .posters {
    width: 100%;
    margin: auto;
  }

  .hr-mobile {
    display: block;
    margin: 14px 0px;
  }

  footer div {
    flex-direction: column;
    align-items: center;
  }

  footer .copywrite {
    font-size: 1.1rem;
  }
  footer .blender-movies {
    font-size: 1.9rem;
  }
}
